.bloc {
  background-color: white;
  padding: 2rem;
  margin: 2rem 0;
}

.summaryBloc {
  @extend .bloc;
  display: flex;
  &>div{
    margin-left: 2rem;
  }
}

div.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.transitionButton {
  margin: .5rem 1rem;
}
