.kube-workflow
.git
.github
*.md
**/node_modules
**/.next/cache
# /formulaire - Commenté car nécessaire pour build formulaire depuis contexte racine
.dockerignore
Dockerfile
.gitignore
docker-compose.yml
CHANGELOG.md
.eslintrc.json
.eslintcache
.kontinuous
.socialgouv.yaml
.releaserc.yml
