.InputAutocomplete {
    z-index: 9999;
    position: relative !important;

    input {
        height: 3rem;
        border-bottom: solid #060591 2px !important;
        border-radius: 0.25rem 0.25rem 0 0;
    }

}

.rowResult {
    z-index: 9999;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    cursor: pointer;
    .infos {
        display: flex;
        font-size: 0.8rem;
        color: var(--light-dark-fr);
    }
}