bucketEndpoint: &bucketEndpoint
  name: BUCKET_ENDPOINT
  valueFrom:
    secretKeyRef:
      name: enfants-du-spectacle-prod-app-access-key
      key: bucket_endpoint

bucketName: &bucketName
  name: BUCKET_NAME
  valueFrom:
    secretKeyRef:
      name: enfants-du-spectacle-prod-app-access-key
      key: bucket_name

bucketRegion: &bucketRegion
  name: BUCKET_REGION
  valueFrom:
    secretKeyRef:
      name: enfants-du-spectacle-prod-app-access-key
      key: bucket_region

bucketAccessKey: &bucketAccessKey
  name: BUCKET_ACCESS_KEY
  valueFrom:
    secretKeyRef:
      name: enfants-du-spectacle-prod-app-access-key
      key: bucket_access_key

bucketSecretKey: &bucketSecretKey
  name: BUCKET_SECRET_KEY
  valueFrom:
    secretKeyRef:
      name: enfants-du-spectacle-prod-app-access-key
      key: bucket_secret_key

appBaseUrlApp: &appBaseUrlApp
  name: APP_BASE_URL
  value: "https://{{ $.Values.global.host }}"

appBaseUrlForm: &appBaseUrlForm
  name: APP_BASE_URL
  value: "https://formulaire-{{ $.Values.global.host }}"

app:
  resources:
    requests:
      cpu: 700m
      memory: 3Gi
    limits:
      cpu: 1100m
      memory: 3Gi
  securityContext:
    fsGroup: 1000
  env:
    - *bucketEndpoint
    - *bucketName
    - *bucketRegion
    - *bucketAccessKey
    - *bucketSecretKey
    - *appBaseUrlApp

form:
  resources:
    requests:
      cpu: 500m
      memory: 1.5Gi
    limits:
      cpu: 700m
      memory: 1.5Gi
  securityContext:
    fsGroup: 1000
  env:
    - *bucketEndpoint
    - *bucketName
    - *bucketRegion
    - *bucketAccessKey
    - *bucketSecretKey
    - *appBaseUrlForm
    - name: START_SCRIPT
      value: "start-prod"

pg:
  cnpg-cluster:
    resources:
      requests:
        cpu: "1"
        memory: 2Gi
      limits:
        cpu: "1"
        memory: 2Gi
    recovery:
      enabled: false
      ~tpl~database: "{{ .Values.global.pgDatabase }}"
      ~tpl~owner: "{{ .Values.global.pgUser }}"
      secretName: "pg-db"
      barmanObjectStore:
        ~tpl~destinationPath: "s3://enfants-du-spectacle-prod-backups/enfants-du-spectacle"
        s3Credentials:
          accessKeyId:
            ~tpl~name: "enfants-du-spectacle-prod-backups-access-key"
            key: bucket_access_key
          secretAccessKey:
            ~tpl~name: "enfants-du-spectacle-prod-backups-access-key"
            key: bucket_secret_key
          region:
            ~tpl~name: "enfants-du-spectacle-prod-backups-access-key"
            key: bucket_region
  backup:
    name: "202403062019" # backup on a new folder
