.card {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}

.itemGrid {
  display: grid;
  padding: .7rem 0;
  border-bottom: 1px solid #eee;
}
.itemGrid:last-child {
  border-bottom: none;
}
.headGrid{
  color: #3366cc;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: none;
}


.state-accepte{
  background-color: #D4F4E1 !important;
}
.state-avisAjourne{
  background-color: #FDEDD1 !important;
}
.state-avisDefavorable{
  background-color: #FDEDD1 !important;
}
.state-favorable{
  background-color: #D4F4E1 !important;
}
.state-favorableSousReserve{
  background-color: #5e8f82 !important;
}
.state-construction{
  background-color: #FDEDD1 !important;
}
.state-instruction{
  background-color: #FDEDD1 !important;
}
.state-pret{
  background-color: #D4F4E1 !important;
}
.state-refuse{
  background-color: #FDEDD1 !important;
}
