:root {
  --red-marianne-main-472: #e1000f;
  --yellow-moutarde-main-679: #C3992A;
  --purple-glycine-main-494: #A558A0;
}

.card {
  padding: 2rem;
  margin: 2rem 0;
  background-color: white;
}

.itemGrid {
  display: grid;
  padding: .7rem 0;
  border-bottom: 1px solid #eee;
}
.itemGrid:last-child {
  border-bottom: none;
}
.headGrid{
  color: #3366cc;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: none;
}


.state-accepte, .state-favorable, .state-pret{
  background-color: #3C8058 !important;
  border-color: #3C8058;
  color: white !important;
}

button.state-accepte, button.state-favorable, button.state-pret{
  &:hover, &:active, &:focus {
    background-color: white !important;
    color: #3C8058 !important;
  }
}

.state-avisAjourne,
.state-avisAjourne,
.state-avisDefavorable,
.state-favorableSousReserve,
.state-construction,
.state-instruction,
.state-refuse {
  background-color: #FDEDD1 !important;
  border-color: #FDEDD1;
}

button.state-avisAjourne,
button.state-avisAjourne,
button.state-avisDefavorable,
button.state-favorableSousReserve,
button.state-construction,
button.state-instruction,
button.state-refuse {
  &:hover, &:active, &:focus {
    background-color: white !important;
  }
}

.hoverableTitle {
  text-decoration: underline dotted;
}
