.commission {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}

table.projets{
  width: 100%;

  thead {
    color: #3366cc;
    text-align: left;
    font-variant-caps: all-petite-caps;
  }

  td {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  .nomProjet {
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .nomUser {
    text-transform: capitalize;
  }
}

.projetTitle {
  font-size: 1.5rem;
  margin-bottom: .6rem;
}

p.tagProjet {
  background-color: #FDDCD1;
  color: #634D41;
}
