bucketEndpoint: &bucketEndpoint
  name: BUCKET_ENDPOINT
  valueFrom:
    secretKeyRef:
      name: enfants-du-spectacle-dev-app-access-key
      key: bucket_endpoint

bucketName: &bucketName
  name: BUCKET_NAME
  valueFrom:
    secretKeyRef:
      name: enfants-du-spectacle-dev-app-access-key
      key: bucket_name

bucketRegion: &bucketRegion
  name: BUCKET_REGION
  valueFrom:
    secretKeyRef:
      name: enfants-du-spectacle-dev-app-access-key
      key: bucket_region

bucketAccessKey: &bucketAccessKey
  name: BUCKET_ACCESS_KEY
  valueFrom:
    secretKeyRef:
      name: enfants-du-spectacle-dev-app-access-key
      key: bucket_access_key

bucketSecretKey: &bucketSecretKey
  name: BUCKET_SECRET_KEY
  valueFrom:
    secretKeyRef:
      name: enfants-du-spectacle-dev-app-access-key
      key: bucket_secret_key

appBaseUrlApp: &appBaseUrlApp
  name: APP_BASE_URL
  value: "https://{{ $.Values.global.host }}"

appBaseUrlForm: &appBaseUrlForm
  name: APP_BASE_URL
  value: "https://formulaire-{{ $.Values.global.host }}"

app:
  securityContext:
    fsGroup: 1000
  env:
    - *appBaseUrlApp
    - *bucketEndpoint
    - *bucketName
    - *bucketRegion
    - *bucketAccessKey
    - *bucketSecretKey

form:
  securityContext:
    fsGroup: 1000
  env:
    - *appBaseUrlForm
    - *bucketEndpoint
    - *bucketName
    - *bucketRegion
    - *bucketAccessKey
    - *bucketSecretKey

pg:
  backup:
    name: "202403061907" # backup on a new folder
