.formField {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;

  .blocForm {
    padding: 0.5rem;
  }
}

.Form {
  margin-bottom: 5rem;
}

.datePickerWrapper {
  padding: 0 !important;
  div {
    padding: 0 !important;
  }
}
