.areaText {
  background-color: white;
  height: 5rem;
  border-bottom: solid #060591 2px;
  display: block;
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline-color: #2a77fe;
  color: var(--g800);
  box-shadow: inset 0 -2px 0 0 var(--g600);
  resize: vertical;
}

.postButton {
  --color-hover: rgba(0, 0, 221, 0.5);
  --color-active: rgba(41, 41, 255, 0.5);
  cursor: pointer;
  background-color: #060591;
  color: var(--w-bf500);
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1.5rem;
  color: white;
  float: right;
  margin-top: 1rem;
}

.Form {
  margin-bottom: 5rem;
}
