.na {
  font-weight: italic;
  color: #666;

  select {
    background-color: white;
    border: solid #313178 2px;
    border-radius: 25px;
    text-decoration: none;
    max-width: 150px;
    box-shadow: none;
  }
}

.nomUser {
  text-transform: capitalize;
}
