.na {
  font-weight: italic;
  color: #666;

  select {
    background-color: white;
    border-bottom: 2px solid black;
    text-decoration: none;
    box-shadow: none;
    width: fit-content;
    outline: none;
  }
}

.nomUser {
  text-transform: capitalize;
}
