.tag {
  border-left: .3rem solid;
  padding-left: .8rem;
}

.grandeCategorie {
  font-weight: bold;
}

.cinema {
  border-color: var(--red-marianne-main-472) !important;
}

.television {
  border-color: var(--yellow-moutarde-main-679) !important;
}

.theatre, .enregistrement, .spectacle, .radio, .publicite, .nouvellesTechnologies, .divers {
  border-color: var(--purple-glycine-main-494) !important;
}
