button.currentStatut {
  border-radius: 20px;
  padding: .3rem .8rem .5rem 1.8rem;
  font-size: 1.1rem;
  border: 2px solid;

  &:disabled {
    cursor: initial;
  }

  .icon {
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.5rem;
  }

  &:not(:disabled) {
    &.state-accepte, &.state-favorable, &.state-pret{
      &:hover, &:active, &:focus {
        background-color: white !important;
        color: var(--dossier-statut-positive-color) !important;
      }
    }
    &.state-avisAjourne,
    &.state-avisAjourne,
    &.state-avisDefavorable,
    &.state-favorableSousReserve,
    &.state-construction,
    &.state-instruction,
    &.state-refuse {
      &:hover, &:active, &:focus {
        background-color: white !important;
      }
    }
  }
}

div.container {
  position: relative;
}

div.dropdown{
  position: absolute;
  top: 100%;
  right: 0;

  background-color: white;
  border: 1px solid #ccc;
  width: 300px;
}
button.row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: white;
  padding: 1rem;
  margin: 0;
  font-size: initial;
  text-align: left;
}
button.row:last-child {
  border-bottom: none;
}
button.row:hover, button.row:focus{
  background-color: #eee;
}

p.event{
  font-weight: bold;
  margin: 0 0 .5rem 0;
  padding: 0;
}
p.description{
  color: #666;
  margin: 0;
  padding: 0;
}

span.icon {
  display: block;
  margin-right: 1rem;
}
