button.currentStatut {
  padding: .3rem .8rem .5rem 1.8rem;
  font-size: 1.1rem;
  background-color: #FEECC2 !important;
  font-weight: 700 !important;
  color: #716043 !important;
  text-transform: uppercase;
  font-size: 14px;

  .chevron {
    vertical-align: bottom;
    font-size: 1.5rem;
  }
}

div.container {
  position: relative;
}

div.dropdown{
  position: absolute;
  top: 100%;
  left: 0;

  background-color: white;
  border: 1px solid #ccc;
  width: 300px;
}
button.row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: white;
  padding: 1rem;
  margin: 0;
  font-size: initial;
  text-align: left;
}
button.row:last-child {
  border-bottom: none;
}
button.row:hover, button.row:focus{
  background-color: #eee;
}

p.event{
  font-weight: bold;
  margin: 0 0 .5rem 0;
  padding: 0;
}
p.description{
  color: #666;
  margin: 0;
  padding: 0;
}

span.icon {
  display: block;
  margin-right: 1rem;
}
