
.commissionHeader {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.dossierGrid {
  grid-template-columns: 10rem 1.3fr 1.3fr .6fr 1fr 8rem;
}


.nomDossier {
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dossierTitle {
  font-size: 1.5rem;
  margin-bottom: .6rem;
}
