
.projetGrid {
  grid-template-columns: 10rem 1.3fr 1.3fr .4fr 1fr;
}


.nomProjet {
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.projetTitle {
  font-size: 1.5rem;
  margin-bottom: .6rem;
}
