.countPieces {
  display: flex;
  align-items: center;
  .cardRefused {
      color: #0063CB;
      font-weight: bold;
      background-color: #E8EDFF;
      padding: 2px 6px;
      border-radius: 4px;
      font-size: 12px !important;
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
          padding-right: 6px !important
      }
  }
  .modalWrapper {
      position: absolute;
      right: 12%;
      transform: translateY(75%);
      z-index: 99;
      padding: 15px;
      box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
      background-color: #E8EDFF;
    
      .count {
        font-weight: 600;
      }
    
      .bloc {
        margin-bottom: 10px;
      }
      .blocNotif {
        font-size: 16px;
        font-weight: normal;
        color: #0063CB;
        .titleNotif {
          margin-bottom: 4px;
          font-weight: 600;
          width: fit-content;
        }
      }
    }
}