.wrapper {
  padding: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FEF6E3 !important;

  &>div:not(:first-child){
    margin-left: 4rem;
  }
}

.itemWrapper {
  font-weight: bold;
}

.itemLabel {
  color: #313178;
  margin-bottom: 22px;
}

.itemContent {
  line-height: 2.5rem;

  select {
    background-color: inherit;
    padding-left: 0;
    border-bottom: .1rem dashed black;
    box-shadow: none;
    font-weight: bold;
  }
}
