.wrapper {
  display: grid;
  grid-template-columns: 15rem 1fr 1fr 15rem;
}

.wrapperFoldable {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
}

.name {
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 0.8rem;
}

.info {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.dateMaj {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-style: italic;
}

.remunerationBloc {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 20px;
  font-size: 16px !important;
}

.remunerationBloc ul {
  margin: 0;
  list-style: none;
}
.remunerationBloc ul li {
  margin: 0;
  position: relative;
}

.remunerationBloc ul li::before {
  content: "";
  display: inline-block;
  width: 0.2em;
  height: 0.2em;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 0.7em;
  left: -0.5em;
}

.remunerationTitle {
  font-weight: 600;
  padding-bottom: 10px;
}

.adressesGrid form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .inputAdresse {
    padding-right: 1rem;
    margin-top: 1rem;
    input {
      background-color: rgb(240, 240, 240) !important;
    }
  }
}

.avisMedicalGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;

  .radioMedecine {
    display: block;
    cursor: pointer;
    margin-bottom: 1rem;
    input {
      margin-right: 1rem;
      appearance: auto;
    }
  }

  .datePickerWrapper {
    padding: 0 !important;
    div {
      padding: 0 !important;
    }
  }
}
