.wrapper {
  display: grid;
  grid-template-columns: 15rem 1fr 1fr 15rem;
}

.wrapperFoldable {
  display: grid;
  grid-template-columns: 23rem 1fr 16rem 7rem;
}

.name {
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 0.8rem;
}

.info {
  padding-top: 2rem;
}

.adressesGrid form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .inputAdresse {
    padding-right:1rem;
    margin-top:1rem;
    input {
      background-color:rgb(240, 240, 240) !important;
    }
  }
}

