.wrapper {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,.1),0 8px 16px -16px rgba(0,0,0,.32)
}

.headerSDE {
  box-shadow: none !important;
}

.middle {
  background-color: #4164F5;
  padding: 2rem 0;
  color: white;
  display: flex;
}
.bottom {
  background-color: white;
  padding: 2rem;
}
