.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  position: relative;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 20px 0;
  }
  .imageWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .images {
    margin: 20px 0;
  }
  .subtitle {
    font-weight: bold;
  }
  h5{
    margin-top: 20px;
  }
  h1{margin-bottom: 40px;}
  ul {
    margin-bottom: 20px;
  }
  ul li {
    margin-left: 15px;
  }
  table {
    text-align: left;
    border-collapse: collapse; 
    margin-bottom: 40px;
  }
  table, table tr {
    border: 1px solid black
  }
  table td {
    padding: 10px 20px;
    border-right: 1px solid black;
  }
  .checkboxWrapper {
    margin-top: 40px;
    font-size: 22px;
  }
}
