input.search {
  background: inherit;
  border: none;
  color: white;
  font-size: 1.2rem;
  width: auto;
  display: inline-block;
  flex: 1;
  padding: 0 1rem;

  &::placeholder{
    opacity: .9;
    text-decoration: underline dotted;
  }

  &:active, &:hover, &:focus {
    &::placeholder {
      opacity: 0.7;
    }
  }
}
