.tag {
  padding: 2px 6px;
  border-radius: 4px;
  width: fit-content;
  font-weight: 700;
  font-size: 12px;
}
.tagRed {
  background-color: #FFE8E6;
  color: #B34000;
}
.tagBlue {
  background-color: #E8EDFF;
  color: #0063CB;
}

.tagYellow {
  background-color: #FEECC2;
  color: #716043;
}
.tagGreen {
  background-color: #B8FEC9;
  color: #18753C;
}
.tagPurple {
  background-color: #eab8fe;
  color: #581875;
}

.tagCursor {
  cursor: pointer;
}

.tagWrapper {
  margin-bottom: 10px;
}

.modalWrapper {
  position: absolute;
  z-index: 99;
  padding: 15px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  background-color: white;
}
.blocNotif {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: normal;
  color: black;
  .titleNotif {
    margin-bottom: 4px;
    color: #000091;
    font-weight: 600;
  }
}