.tag {
  padding: 2px 6px;
  border-radius: 4px;
  width: fit-content;
  font-weight: 700;
  font-size: 12px;
}
.tagRed {
  background-color: #FFE8E6;
  color: #B34000;
}
.tagBlue {
  background-color: #E8EDFF;
  color: #0063CB;
}

.tagYellow {
  background-color: #FEECC2;
  color: #716043;
}
.tagGreen {
  background-color: #B8FEC9;
  color: #18753C;
}
.tagPurple {
  background-color: #eab8fe;
  color: #581875;
}

.tagCursor {
  cursor: pointer;
}

.tagWrapper {
  margin-bottom: 10px;
}

.modalWrapper {
  position: absolute;
  right: 12%;
  z-index: 99;
  padding: 15px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  background-color: #E8EDFF;

  .separator {
    border-bottom: 1px solid rgba(199, 199, 199, 0.267);
    margin: 10px 0;
  }

  .count {
    font-weight: 600;
  }

  .blocNotif {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #0063CB;
    .titleNotif {
      margin-bottom: 4px;
      font-weight: 600;
      width: fit-content;
    }
  }
}