.accordion {
    background-color: white;
    padding: 16px;
  
    .wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    .content { 
      margin-top: 28px;
    }
    .title {
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      color: #161616;
    }

    .accordionSmallText {
      font-weight: 400;
      font-size: 16px;
  }
    .accordionBorder {
      border-bottom: 1px solid #DDDDDD;
    }
    .hideBtn {
      cursor: pointer;
      width: fit-content;
    }
  }