.headingDossier {
    padding: 2rem 0rem;
    margin-bottom: 1rem;
    background-color: var(--purple-fr);
    .rightSection {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .topRow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        h4 {
            margin-bottom: 0;
        }
    }

    h2 {
        color: var(--light-dark-fr);
        margin-bottom: 0;
    }
}