.dossierForm {
    .menuDossier {
        margin-top: 2rem;
        text-align: center;
    }

    .messageError {
        margin-top: 2rem;
        color: red;
    }

    .messageSuccess {
        margin-top: 2rem;
        color: rgb(2, 148, 14);
    }

    .infosRow {
        border: solid #0063CB 1px;
        margin-top: 2rem;
        display: flex;
        flex-grow: 1;
        align-items: stretch;

        .infoImage {
            background-color: #0063CB;
            display: flex;
            align-items: center;
            padding: 0.5rem;
        
        }
        .infoText {
            padding: 0.5rem;
            p {
                margin-bottom: 0;
            }
        }
    }

    .divForm {
        margin: 2rem 0rem;
        .titleCard {
            color: black;
        }

        .blocForm {
            margin-top:4rem;
        }

        textarea {
            width: 100%;
            background-color: var(--dark-grey-fr);
            font-size: 1rem;
            padding: 1rem;
            min-height: 7rem;
            border-bottom: solid var(--blue-fr) 2px;
        }

        .halfForm {
            width: 50%;
        }

        .byThreeForm {
            display: grid;
            grid-template-columns: 31% 31% 31%;
            grid-gap: 2%;

            .blocForm {
                margin-top:2rem;
            }
        }

        .byTwoForm {
            display: grid;
            grid-template-columns: 49% 49%;
            grid-gap: 2%;

            .blocForm {
                margin-top:2rem;
            }
        }

    }

    label {
        font-size: 1.1rem;
    }

    .smallText {
        color: var(--light-dark-fr);
        font-size: 0.8rem;
    }

    .saveBar {
        margin-top: 2rem;
        background-color: var(--dark-grey-fr);
        box-shadow: 0 0 0 1px #c7c7c7;
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        position: sticky;
        bottom: 0%;
        .textSaveBar {
        }
        p {
            margin-bottom: 0;
        }
    }
}