.enfantList {
    margin-bottom: 2rem;

    .titleTable {
        color: black;
    }

    .headRow {
        display: grid;
        grid-template-columns: 17% 20% 10% 21% 15% 17%;
        background-color: var(--dark-grey-fr);
        padding: 1rem;
        margin-top: 1rem;
        border-bottom: solid black 2px;

        .itemHead {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .tableEnfant {
        display: grid;
        grid-template-columns: 17% 20% 10% 21% 15% 17%;
        background-color: var(--dark-grey-fr);
        padding: 1rem;
        cursor: pointer;
        background-image: none;

        div {
            display: flex;
            align-items: center;
        }

        &:hover {
            background-color: var(--dark-grey-fr);
        }
    }

    .tableEnfant:nth-child(2n) {
        background-color: var(--light-grey-fr);
    }

    .pagination {
        margin-top:1rem;
        text-align: center;
        button {
            margin: 0rem 0.5rem;
        }
    }

    .actionRow {
        margin-top: 2rem;
        display: flex;
        gap: 10px;
    }
    .btnImport {
        background: blue;
    }
    .buttonUp {
        margin-top: 2rem;
        text-align: right;
        padding: 0 0.5rem;
        float: right;
        position: sticky;
        bottom: 25px;
        img {
            cursor: pointer;
        }
    }

    .listBtn {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;
    }
    .modalWrapper {
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 50%;
        z-index: 99;
        display: flex;
        gap: 10px;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        padding: 40px;
        border-radius: 3px;
    }

    .rowEnfant {
        margin-top: 2rem;
    }
}