.enfantList {
    margin-bottom: 2rem;

    .titleTable {
        color: black;
    }

    .headRow {
        display: grid;
        grid-template-columns: 17% 20% 10% 21% 15% 17%;
        background-color: var(--dark-grey-fr);
        padding: 1rem;
        margin-top: 1rem;
        border-bottom: solid black 2px;

        .itemHead {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .tableEnfant {
        display: grid;
        grid-template-columns: 17% 20% 10% 21% 15% 17%;
        background-color: var(--dark-grey-fr);
        padding: 1rem;
        cursor: pointer;
        background-image: none;

        div {
            display: flex;
            align-items: center;
        }

        &:hover {
            background-color: var(--dark-grey-fr);
        }
    }

    .tableEnfant:nth-child(2n) {
        background-color: var(--light-grey-fr);
    }

    .pagination {
        margin-top:1rem;
        text-align: center;
        button {
            margin: 0rem 0.5rem;
        }
    }

    .actionRow {
        margin-top: 2rem;
        display: flex;
        gap: 10px;
    }
    .btnImport {
        background: blue;
    }
    .buttonUp {
        margin-top: 2rem;
        text-align: right;
        padding: 0 0.5rem;
        float: right;
        position: sticky;
        bottom: 25px;
        img {
            cursor: pointer;
        }
    }

    .listBtn {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;
    }
    .overlay {
        background-color: rgb(0 0 0 / 50%);
        width: 100%;
        height: 100%;
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
    }
    .modalWrapper {
        background-color: #f5f5fe;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 60%;
        height: 60%;
        z-index: 999;
        display: flex;
        gap: 10px;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        padding: 40px 40px 15px 40px;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);

    
        .closeBtn {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }

        .importTitle {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .percentage {
            font-weight: 600;
            font-size: 24px;
            text-align: right;
            width: 100%;
        }
    }

    .errorRow {
        padding: 5px 0;
    }
    .summaryWrapper {
        overflow-y: auto;
        height: 100%;
        width: 100%;
        margin-top: 40px;
        background-color: #ececfc;
        padding: 20px;
        border-radius: 3px;

        .summary {
            margin-bottom: 20px;
        }

        .errorDescription {
            font-weight: normal;
            font-size: 14px;
            font-style: italic;

        }
    }

    .rowEnfant {
        margin-top: 2rem;
    }
}