.headingDossier {
    padding: 2rem 0rem;
    margin-bottom: 1rem;
    background-color: var(--purple-fr);
    .rightSection {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .commissionTitle {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
    }
    .topRow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        h4 {
            margin-bottom: 0;
        }
    }

    h2 {
        color: var(--light-dark-fr);
        margin-bottom: 0;
    }
    .dropdownWrapper {
        position: relative;
        .defaultOption {
            padding: 8px;
            border-radius: 8px;
            text-transform: uppercase;
            background-color: #313178;
            color: white;
            cursor: pointer;
        }
        .collaboratorsWrapper {
            position: absolute;
            right: 0;
            width: max-content;
            background-color: #f5f5fe;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            padding: 8px;
            box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
            // transform: translateX(-45%);
            z-index: 10;
            min-width: 300px;

            .deleteBtnGroup{
                display: flex;
                font-size: 12px;
                gap: 5px;
                .confirmBtn, .cancelBtn {
                    cursor: pointer;
                }
                .confirmBtn:hover, .cancelBtn:hover {
                    text-decoration: underline;
                }
            }
        }
        .collaboratorItem {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 8px;
            border-bottom: 1px solid rgb(241, 241, 241);
            font-size: 14px;
        }
        .addCollaborator {
            font-weight: bold;
            display: flex;
            align-items: center;
        }
        .loaderEmailCheck {
            position: absolute;
            right: 0;
            span, span::after {
                width: 30px;
                height: 30px;
            }
        }
        .warningMessage, .successMessage {
            padding: 5px;
        }
        .warningMessage {
            color: red;
            text-align: left;
            width: 100%;
            font-style: italic;
        }
        .successMessage {
            color: green;
            text-align: left;
            width: 100%;
            font-style: italic;
        }
        .collaboratorItem:hover {
            background-color: #ececfe;
        }

        .trashIcon, .plusIcon, .dropDownIcon {
            cursor: pointer;
        }
        .trashIcon:hover {
            color: #313178;
        }
    }
}