.containerActionBar {

    margin-top:2rem;

    .tabs {
        text-align:center;
    }

    .button {
        margin-top: 3rem;
        display: flex;
        gap: 10px;
    }

    .buttonStatus {
        display: flex;

        .countNumber {
            margin-right: 0.4rem;
            background-color: white;
            color: var(--blue-fr);
            min-width: 24px;
            border-radius: 25px;
        }
    }

    .warningMessageWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        background-color: white;
        border: 1px solid rgb(161, 0, 0);
        border-radius: 2px;
        margin-top: 2rem;
    }

    .infoMessageWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        background-color: white;
        border: 1px solid rgb(52, 102, 179);
        border-radius: 2px;
        margin-top: 2rem;
    }

    .iconWrapper {
        background-color: rgb(161, 0, 0);
        padding: 12px;

        .alertIcon {
            color: white;
        }
    }

    .iconInfoWrapper {
        background-color: rgb(52, 102, 179);
        padding: 12px;

        .alertIcon {
            color: white;
        }
    }
    
    .formLink {
        font-weight: bold;
    }
    .inactiveStatus {
        .countNumber {
            background-color: var(--blue-fr);
            color: white;
        }
    }


}