.searchBar {
    background-color: var(--purple-fr);
    padding: 2rem;

    .blocSearch {
        display: flex;
        justify-content: center;
        input {
            width: 400px;
        }
    }

    ::-webkit-input-placeholder {
        font-style: italic;
     }
     :-moz-placeholder {
        font-style: italic;  
     }
     ::-moz-placeholder {
        font-style: italic;  
     }
     :-ms-input-placeholder {  
        font-style: italic; 
     }
}